@import url('./variables.css');

.card {
  width        : 300px;
  border-radius: 10px;
  background   : var(--Light-Grayish-Blue);

  box-shadow: 10px 5px 30px 2px rgba(0, 0, 0, .3);
}

.card .card-header img {
  width         : 100%;
  object-fit    : cover;
  height        : 100%;
  border-radius : 10px 10px 0 0;
  vertical-align: top;
}

.card .card-body .card-content {
  font-size : 13px;
  line-height: 22px;
  text-align: left;
  padding   : 25px 15px;
  color     : var(--Grayish-Blue);
}

.card .card-content .card-title {
  font-size    : 17px;
  display      : block;
  color        : var(--Very-Dark-Grayish-Blue);
  font-weight  : 500;
  margin-bottom: 10px;
}

.card .social {
  display        : flex;
  justify-content: space-between;
  align-items    : center;

  position: relative;
  padding : 10px;
}

.card .social .user {
  display        : flex;
  justify-content: flex-start;
  align-items    : center;
}

.card .social .user .userinfo {
  display  : inline-block;
  color    : var(--Grayish-Blue);
  font-size: 14px;
}

.card .social .user .userinfo .username {
  color: var(--Very-Dark-Grayish-Blue);


}

.card .user img {
  width         : 50px;
  border-radius : 50%;
  vertical-align: top;
  margin-right  : 20px;
}

.card .social .btn-share {
  border: none;
  background: none;
  font-size: 18px;
  position: relative;
  z-index: 2000;
  cursor: pointer;
  color: var(--Very-Dark-Grayish-Blue);
  padding: 5px;
  border-radius: 50%;
  line-height: 1;

  transition: .3s;
}

.card .social .menu-social {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--Very-Dark-Grayish-Blue);
  border-radius: 0 0 10px 10px;
  padding: 10px 25px;

  scale: 0;
  transition: .3s;
}


.card .social .menu-social h1 {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, .5);
  margin-right: 12px;
  line-height: 1;
}

.card .social .menu-social .social-icon {
  font-size: 25px;
  vertical-align: top;
  margin: 5px;
  color: #fff;
}


.card .social.show-menu .btn-share {
  color: #fff;
  margin-right: 20px;
  background: var(--Desaturated-Dark-Blue);
}

.card .social.show-menu .menu-social {
  scale: 1;
}